{% extends "base_network.html.j2" %}

{% block graph_data_config %}
NODE_WIKI = {{ node_wiki_json }};
EDGE_WIKI = {{ edge_wiki_json }};
VIS_NODES = {{ nodes_json }};
VIS_EDGES = {{ edges_json }};
HAS_EDGE_WIKI = {{ "true" if has_edge_wiki else "false" }};

nodeDataset.add(VIS_NODES);
edgeDataset.add(VIS_EDGES);
{% endblock %}