<div class="nw-mini-wiki">
  <div class="nw-node-type" style="color: #6f42c1;">PRODUCER</div>
  <div class="nw-node-desc">{{ attrs.name }}</div>
  <div class="nw-attr-grid">
    <div class="nw-attr-box">
      <div class="nw-attr-label">Role</div>
      <div class="nw-attr-value">{{ attrs.title }}</div>
    </div>
    <div class="nw-attr-box">
      <div class="nw-attr-label">Sessions</div>
      <div class="nw-attr-value">{{ attrs.sessions_count }}</div>
    </div>
  </div>
</div>